<div class="main-top-intro">
  <div class="container-inner-info">
  <h2>lets chat !!! </h2>
  <br>
<div class="content-w2layouts-main">
  <div class="form-w3ls-left-info">

  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

  <div class="form-w3ls-left-info">

    <input type="text" name="username" class="form-control" id="username" placeholder="Username" formControlName="username" autofocus="true" />
  </div>

  <div class="form-w3ls-left-info">

    <input type="password" name="password" class="form-control" id="password" placeholder="Password" formControlName="password" >
  </div>
  
  <div class="bottom">
    <button [disabled]="loginForm.invalid" type="submit" class="btn" name="login">Login</button>
  </div>

  <div class="links">
    <a [routerLink]="[]">Don't have an account?</a>
  </div>
</form>
</div>
</div>
  </div>
</div>