.list-group-item {
  margin-left:30px;
    margin-right:10px;
    display: flex;
    max-width: 100%;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(5, 5, 5);
    
}
ul {
  margin-top: 24px;
  margin-bottom: 0;
  height: calc(100vh - 194px);
  overflow-y: scroll;
}
  

  .list-group-item {
    border-right: none;
    border-left: none;
  }
    span.glyphicon-comment {
      color: #4CAF50;
    }

    .online {
      color: rgb(240, 23, 23);
    

    }
      span.glyphicon {
        color: #4CAF50;
       

      }
      
    

